alembic==1.12.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
Flask==2.3.3
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jplephem==2.18
Mako==1.2.4
MarkupSafe==2.1.3
numpy==1.25.2
packaging==23.1
psycopg2==2.9.7
psycopg2-binary==2.9.7
python-dotenv==1.0.0
requests==2.31.0
sgp4==2.22
skyfield==1.46
SQLAlchemy==2.0.20
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
